#profile{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 60px 0px 0px 0px;
}

#about-text{
    width: 60%; 
    max-width: 60%;
    line-height: 2.5em;
    padding-right: 50px;
}

#about-midText{
    width: 60%; 
    line-height: 2.5em;
    padding-right: 50px;
}

#about-image{
    width: 30%; 
}

#about-text p, #about-text li, #about-midText li{
    font-size: 0.9rem;
}

#image{
    width:100%;
}

#list{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 768px) {

    body{
        display: flex;
        flex-wrap: wrap;
    }

    #nav-bar a, #nav-bar li{
        text-align: center;
    }

    #left-section{
        padding: 0;
        order:0;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        text-align: center;
        height: 70%;
        width: 100%;
        min-width: 100%;
    }

    #favourite-quotes{
        height: 50%;
    }

    #profile{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-content: space-around;    
    }

    main{
        order:1;
        padding:0;
        width: 100%;
        min-width: 100%;
    }

    #about-image{
        width: 100%;
    }

}

@media (max-width: 1000px) {

    #about-image{
        width: 100%;
    }

}

@media (max-width: 1200px) {
    #about-text{
        min-width: 330px;
        order: 1;
        padding: 0;
    }

    #about-image{
        min-width: 330px;
        width: 60%;
        order: 0;
        padding: 0;
    }

    #about-midText{
        min-width: 330px;
        order: 2;
        padding: 0;
        
    }
}