#home-image{
    margin-top: 60px;
    width: 90%;
    max-height: 88%;
}


@media (max-width: 550px) {
    nav{
        height: 40%;
    }
    #favourite-quotes{
        height: 50%;
    }

    #favourite-quotes p{
        font-size: 0.9em;
    }

    #favourite-quotes li{
        font-size: 0.7em;
    }

    #contact{
        font-size: 0.7em;
    }
    main{
        display: none;
    }
}


@media (max-width: 767px) {
    #home-image{
       display: none;
    }
}
