#content{
    padding-top: 60px;

    min-height: 100vh;
}


.project-text{
    font-weight: 300;
    font-size: 0.9rem;
}

#projects{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    padding-top: 0.2%;
    height: auto;   
}

.project{
    min-width: 670px;
    max-width: 50%;
    min-height: 48%;
    max-height: 48%;
    padding-right: 8%;
    padding-bottom: 1%;
}   

.project-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-image img{
    min-width: 280px;
    min-height: 280px;
    max-width: 280px;
    max-height: 280px;
   
}

.project-text{
    height: 50%;
}


@media (min-width: 1450px) {
   .project-text{
       min-width: 600px;
       max-width: 600px;
   }
}
