#content{
    padding-top: 60px;

    min-height: 100vh;
}


.project-text{
    font-weight: 300;
    font-size: 0.9rem;
}

#projects{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 0.2%;
    height: auto;   
}

.project{
    min-width: 580px;
    width: 590px    ;
 
    min-height: 48%;
    max-height: 48%;
    padding-right: 20px;
    padding-bottom: 20px;
}   

.project-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-image img{
    padding-right: 10px;
    min-width: 280px;
    min-height: 280px;
    max-width: 280px;
    max-height: 280px;
   
}

.project-text{
    height: 50%;
}


@media (max-width: 620px) {
    .project{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 260px;
        padding-bottom: 50px 0;
    }

    .project-image img{
        padding: 20px 0;
        min-width: 260px;
    }

    #content h1{
        padding-bottom: 80px;
    }

    .project-image{
        order: 1;
    }

    .project-text{
        order: 0;
    }

}


.project-text a{
    text-decoration: none;
    font-size: 0.6em;
    color: black;
}

.project-text a:hover{
    color: blue;

}


@media (max-width: 768px) {

    body{
        display: flex;
        flex-wrap: wrap;
    }

    #nav-bar a, #nav-bar li{
        text-align: center;
    }

    #left-section{
        padding: 0;
        order:0;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        text-align: center;
        height: 70%;
        width: 100%;
        min-width: 100%;
    }

    #favourite-quotes{
        height: 50%;
    }

    main{
        order:1;
        padding:0;
        width: 100%;
        min-width: 100%;
    }

    .project{
        max-width: 600px;
    }
}

@media (max-width: 1560px) {
    #projects{
        justify-content: space-around;
    }

    #content h1{
        text-align: center;
        width: 100%;
    }
    
    .project{
        width: 60%;
    }
}
